<div class="border rounded-lg bg-amber-400 text-amber-900 lg:w-1/3 p-5 my-4">
    <h1 class="mb-4 text-xl">⚠️ Utilisation de la plateforme!</h1>
    <p>
        Ceci est une plateforme de démonstration. Vous pouvez créer des jeux de données qui seront exposés à tous les visiteurs de cette plateforme.        </p>
    <p>
        Les données sont <b>automatiquement réinitialisées toutes les heures</b>.
    </p>
</div>
