{% extends 'base.html.twig' %}

{% block title %}Hello JobController!{% endblock %}

{% block title_page %}Formulaire{% endblock %}

{% block breadcrumbs %}
  {{ include('breadcrumbs/_separator.html.twig') }}
  {% include 'breadcrumbs/_link.html.twig' with { 'name': 'Création d\'une offre', 'link': path('app_job_new') } only %}
{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 m-4">
        {{ form(form) }}
    </div>
{% endblock %}
