{% extends 'base.html.twig' %}

{% block title %}Hello JobController!{% endblock %}

{% block title_page %}{{ offre.nom }}{% endblock %}

{% block breadcrumbs %}
  {{ include('breadcrumbs/_separator.html.twig') }}
  {% include 'breadcrumbs/_link.html.twig' with { 'name': 'Jobs', 'link': path('app_job') } only %}
  {{ include('breadcrumbs/_separator.html.twig') }}
  {% include 'breadcrumbs/_link.html.twig' with { 'name': offre.nom, 'link': path('app_job_show', { 'id': offre.id }) } only %}
{% endblock %}

{% block body %}
    <div class="container mx-auto px-4">
        {{ include('job/_offre.html.twig') }}
    </div>
{% endblock %}