<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        {% include 'navbar/_link.html.twig' with { 'name': 'Accueil', 'link': path('app_job') } only %}
                        {% include 'navbar/_link.html.twig' with { 'name': 'Créer job', 'link': path('app_job_new') } only %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>