<footer class="flex justify-center text-sm m-8">
    <div class="">
        <p class="m-0">Copyright &copy; Job Board SF - Tous droits réservés 2024</p>
        <p class="m-0">made by <a class="text-purple-700" href="https://www.linkedin.com/in/baptiste-fotia">Baptiste Fotia</a></p>
    </div>
</footer>
