<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <script src="https://cdn.tailwindcss.com"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 p-4">
            <h1 class="text-4xl text-center">{% block title_page %}Job Board{% endblock %}</h1>
        </div>

        <nav class="container mx-auto my-5" aria-label="Breadcrumb">
            <ol class="flex items-center gap-1 text-sm text-gray-600">
                {% include 'breadcrumbs/_home.html.twig' with { 'name': 'Home', 'link': path('app_job') } only %}
                {% block breadcrumbs %}{% endblock %}
            </ol>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
